body.page {
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: $font-family-base;
  font-size: 1rem;

  a {
    font-family: $font-family-base;
    color: $textColor;
    text-decoration: underline;
  }
}

body.page-home {
  .header-link {
    display: none;
  }
}
