body.page-home,
body.page-why-keptn {
  h1 {
    font-weight: $font-weight-semibold;
    font-size: 2.8rem;
    line-height: 1.5;
  }

  h2 {
    margin: 0;
    font-size: 2.3rem;
    line-height: 1.5;

    &:before {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 1.5rem;
  }
}
