body.page-home,
body.page-why-keptn {
  h1 {
    font-size: 2.24rem;
    line-height: 1.4;

    @media screen and (min-width: $bp-md) {
      font-size: 2.8rem;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 1.84em;
    line-height: 1.4;
    font-weight: $font-weight-semibold;

    &:before {
      display: none;
    }

    @media screen and (min-width: $bp-md) {
      font-size: 2.3rem;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 1em;

    strong {
      font-weight: $font-weight-semibold;
    }

    @media screen and (min-width: $bp-md) {
      font-size: 1.35rem;
    }
  }

  a {
    font-family: $font-family-base;
    text-decoration: underline;

    &:not(.button) {
      color: $textColor;
    }

    &.no-underline {
      text-decoration: none;
    }
  }
}
