.roadmap-summary {
  display: flex;
  align-items: flex-start;
  .roadmap-image {
    flex: 0 0 100px;
    margin-right: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .roadmap-content {
    flex: 1;
    .roadmap-title {
      font-family: $font-family-heading;
      font-size: 1.6rem;
    }
    p {
      color: $secondary;
    }
  }
}
