{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-roadmap-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="roadmap roadmap-single">
        <h1 class="title">{{.Title}}</h1>
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $roadmap := resources.Get "js/pages/roadmap.js" }}
{{ $roadmapJS := slice $library $roadmap |resources.Concat "js/roadmap.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $roadmapJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($roadmapJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}