.button {
  margin-left: 24px;
  padding: 10px 24px;
  border-radius: 24px;
  font-size: 0.9rem;
  text-decoration: none !important;
}

.button--primary {
  color: $white;
  background-color: $primary;

  &:hover {
    color: $white;
  }
}
