.button {
  padding: 10px 24px;
  border-radius: 24px;
  font-size: 0.9rem;
  font-weight: $font-weight-semibold;
  text-decoration: none !important;

  &:hover {
    font-weight: $font-weight-semibold;
  }
}

.button-primary {
  color: $white !important;
  background-color: $primary;
}

.button-secondary {
  color: $primary;
  background-color: $white;
}

.button-tertiary {
  color: $textColor;
  background-color: $white;
  font-weight: $font-weight-bold;
  border: 2px solid #222222;
  box-sizing: border-box;

  &:hover {
    color: $textColor;
    font-weight: $font-weight-bold;
  }
}
