.button {
  padding: 10px 32px;
  border-radius: 24px;
  font-size: 0.9rem;
  font-weight: $font-weight-semibold;
  text-decoration: none !important;

  &:hover {
    font-weight: $font-weight-semibold;
  }
}

.button-primary {
  color: $white !important;
  background-color: $primary;
}

.button-secondary {
  color: $primary;
  background-color: $white;
}
