.footer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: $white;
  box-shadow: 0 2px 10px 0 rgba($black, 0.1);

  .container {
    display: inherit;
    justify-content: center;
  }

  .title {
    font-size: 0.9rem;

    a {
      color: $textColor;
    }

    img {
      width: 16px;
      height: 16px;
      margin-top: -2px;
    }
  }
}
