.footer {
  background-color: $secondary;
  color: $white;
  padding-top: 180px;
  padding-bottom: 30px;
  position: relative;

  &:before {
    position: absolute;
    top: -150px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 150px;
    content: "";
    background-image: url('/images/home/waves03.png');
    background-repeat-x: repeat;
    z-index: 25;
    background-size: 100%;
  }

  .footer-logo {
    height: 50px;
    width: auto;
  }

  .footer-title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 8px;
    font-weight: $font-weight-bold;
  }

  .footer-links {
    @include list-unstyled;

    a {
      color: $white;
    }
  }

  .footer-icon-link {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    margin-bottom: 8px;

    &:nth-of-type(odd) {
      margin-right: 8px;
    }
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-icon {
    width: 22px;
  }

  .footer-text {
    font-size: 15px;
    font-family: Courier;
  }
}
