.footer {
  background-color: $teaserCard-home;
  color: $white;
  padding-bottom: 30px;
  position: relative;

  &:before {
    position: absolute;
    top: -150px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 800px;
    content: "";
    background-image: url('/images/home/waves03.png');
    background-repeat-x: repeat;
  }

  .footer-logo {
    display: none;
    height: 50px;
    width: auto;

    @media screen and (min-width: $bp-md) {
      display: block;
    }
  }

  .footer-title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 8px;
    font-weight: $font-weight-bold;
  }

  .footer-links {
    @include list-unstyled;

    a {
      color: $white;

      &:hover {
        color: #4d97cd;
        text-decoration: none;
      }
    }
  }

  .footer-icon-link {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    margin-bottom: 8px;
    margin-right: 8px;

    &:hover {
      cursor: pointer;
      background: linear-gradient(-225deg, $primary-home-900 0%, #10478f 100%);
    }

    &--top {
      background-color: $secondary-home-900;

      &:hover {
        background: linear-gradient(-225deg, $secondary-home-900 0%, #009941 100%);
      }
    }
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-icon {
    width: 22px;
  }

  .footer-text {
    font-size: 15px;
    font-family: Courier;
  }

  .float-right {
    float: right;
  }
}
