.hamburger {
  padding: 10px 0 10px 10px;
  outline: none;
  z-index: 10;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.is-active {
    .hamburger-inner::after {
      width: inherit;
      right: unset;
    }
  }

  @include media-breakpoint-up(md) {
    display: none;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background: $primary;
  }

  .hamburger-inner::after {
    width: 18px;
    right: 0;
  }
}
