.main-menu {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  ul {
    display: inherit;
    align-items: center;
    justify-content: flex-start;

    li {
      margin: 0;
      font-size: 0.9rem;
      list-style: none;

      a {
        padding: 16px 24px;
        color: $textColor;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }

      &.active {
        a {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
