.section {
  background-color: $white;
}

.section-primary {
  background-color: $dark_blue;
  height: 64px;

  h1,
  h2,
  p {
    color: $white;
  }

  @media screen and (min-width: $bp-md){
    height: 64px;
    width: 100%;
    top: 0;
  }
}

.section-primary-opacity {
  background-color: $primary-opacity;
}

.section-secondary {
  background-color: $secondary;
}
