.section {
  background-color: $white;
}

.section-primary {
  background-color: $primary;

  h1,
  h2,
  p {
    color: $white;
  }
}

.section-primary-opacity {
  background-color: $primary-opacity;
}

.section-secondary {
  background-color: $secondary;
}
