.splide {

  &__slide {
    display: flex;
    height: auto !important;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 13px;
    margin-right: 10px !important;

    @media (min-width: $bp-lg) {
      width: 690px !important;
      margin-right: 25px !important;
    }

    @media (min-width: $bp-xl) {
      display: flex !important;
      width: 830px !important;
      margin-right: 80px !important;
      //height: 380px !important;
    }
  }

  &__image {
    display: none;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    height: 100%;
    background-size: cover;

    @media (min-width: $bp-lg) {
      display: block;
      width: 40%;
    }
  }

  &__content {
    padding: 25px;
    font-size: 22px;

    @media (min-width: $bp-lg) {
      width: 60%;
      padding: 50px 34px;
    }
  }

  &__name {
    font-size: 15px !important;
    font-family: 'Courier';
    font-weight: $font-weight-bold;
    color: $primary-home-900;
    margin: 28px 0 3px !important;
  }

  &__info {
    font-family: 'Courier';
    font-size: 15px !important;
    color: $primary-home-900;
    margin-bottom: 0 !important;
  }

  &__arrows {

    .splide__arrow {
      display: none;
      width: 42px;
      height: 42px;
      background-color: $secondary-home-900;

      svg {
        fill: $white;
        margin-top: 6px;
      }

      @media (min-width: $bp-lg) {
        display: block;

        &--prev {
          left: 10px;
        }

        &--next {
          right: 10px;
        }
      }

      @media (min-width: $bp-xl) {
        &--prev {
          left: -50px;
        }

        &--next {
          right: -50px;
        }
      }
    }
  }

  .splide__pagination {
    bottom: -42px;

    @media (min-width: $bp-lg) {
      display: none !important;
    }
  }

  .splide__pagination__page {
    background-color: #c9c9c9;

    &.is-active {
      background-color: $primary;
      transform: none;
    }
  }
}