.teaser-box {
  z-index: 50;
  h1 {
    font-weight: $font-weight-bold !important;
    font-size: $font-size--xl !important;
    font-family: $font-family-base !important;
    @media screen and (min-width: $bp-md) {
      padding-right: 32px;
    }
    padding-bottom: 24px;
  }

  h2 {
    color: $textColor-home-900;
    font-weight: $font-weight-bold !important;
    font-size: $font-size-xxl-home;
    margin-bottom: 24px !important;
  }

  h3 {
    font-weight: $font-weight-semibold;
    font-size: $font-size-m-home !important;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  h4 {
    color: $secondary-home-900;
    font-family: Courier-Bold;
    font-size: $font-size--primary;
    font-weight: $font-weight-bold;
    margin-bottom: 8px;
  }

  p {
    color: $textColor-home-900;
    font-weight: $font-weight-normal;
    font-size: $font-size-m-home !important;


    &:last-of-type {
      margin-bottom: 24px !important;
    }
  }

  ul {
    list-style-type: none;
    li {
      padding-left: 32px;
      position: relative;
      font-size: $font-size-m-home;
      font-weight: $font-weight-normal;
      color: $textColor-home-900;

      &::before {
        content: url('/images/home/icon-arrow-list.svg');
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
    margin-bottom: 16px !important;
  }

  .button {
    padding: 14px 24px;
    border-radius: 24px;
    box-shadow: 0 5px 10px 0 rgba(3, 12, 18, 0.15);
    font-weight: $font-weight-bold;
    text-align: center;
    text-decoration: none !important;
    display: block;

    &--filledGreen {
      background-color: $secondary-home-900;
      color: $white;
    }

    &--filledWhite {
      background-color: $white;
      color: $primary-home-900;

      .icon {
        &--hover {
          display: none;
        }
      }
    }

    &--outlinedBlue {
      border: 2px solid $primary-home-900;
      color: $primary-home-900;
    }

    &--outlinedWhite {
      border: 2px solid $white;
      color: $white;
    }
  }

  .img {
    padding-top: 32px;
  }

  &--white {
    h1, h2, h3, li,p {
      color: $white !important;
    }
  }

  &--intro {
    li, p {
      font-size: $font-size--s !important;
    }
  }

  .teaser-card {
    border-radius: 13px;
    background-color: $white;
    min-height: 334px;
    padding: 40px 31px;

    &--blue {
      background-color: $primary-home-500;
      box-shadow: 20px 20px 80px 0 rgba(0, 26, 45, 0.3);
    }

    &--opacity {
      box-shadow: 20px 20px 80px 0 rgba(2, 63, 107, 0.17);
    }

    &--marginRight {
      margin-right: 2px;
    }

    .teaser-card-picture {
      height: auto;
      width: 160px;
    }

    .teaser-card-content {
      h3 {
        font-weight: $font-weight-semibold;
        font-size: $font-size-m-home !important;
        margin-top: 25px;
        margin-bottom: 12px;
      }

      li, p {
        font-size: $font-size--s !important;
        &:last-of-type {
          margin-bottom: 0 !important;
        }
      }

      &--blue {
        p, h3, h5, li {
          color: $primary-home-900 !important;
        }
      }

      &--courier {
        font-family: Courier;

        p, h5 {
          font-size: $font-size-s-home !important;
          line-height: 24px;
        }

        p {
          font-weight: $font-weight-normal;
        }

        h5 {
          margin-bottom: 12px;
          font-weight: $font-weight-bold !important;
        }
      }
    }
  }
}
