.page-home {
  .z-index {
    z-index: 100;
  }
  position: relative;

  // Intro & Usage
  .intro,
  .usage {
    p {
      font-size: 1em;

      @media screen and (min-width: $bp-md) {
        font-size: 1.125rem;
      }
    }
  }

  // Intro
  .intro {
    background: url('/images/home/hero/background-hero-lines.svg'), $primary-home-900;
    background-size: contain;

    h3, h3 a {
      color: #fff;
      font-size: 1rem;
    }

    .icon {
      width: 22px;
      height: 22px;
      margin-top: -3px;
      margin-left: 8px;
    }

    &:after {
      position: absolute;
      top: 370px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 1000px;
      content: "";
      background-image: url('/images/home/hero/waves-intro.jpg');
      background-repeat-x: repeat;

      @media screen and (min-width: $bp-md) {
        top: 450px;
      }
    }

    .intro-graphic {
      display: none;

      @media screen and (min-width: $bp-md) {
        display: block;
      }

      &--small {
        display: none;

        @media screen and (max-width: $bp-md) {
          display: block;
        }
      }
    }
  }

  // Usage
  .usage {
    background: $primary-home-050;

    .usage-item img {
      width: 48px;
      height: 48px;
      margin-right: 32px;
    }
  }

  // Delivery
  .delivery {
    background: $white;
  }

  // Remediaton
  .remediation {
    background: $primary-home-100;

    .remediation-content {
      order: 0;

      @media screen and (min-width: $bp-lg) {
        padding-top: 140px;
        order: 1;
      }

      @media screen and (min-width: $bp-lg) and (max-width: $bp-xl) {
        padding-top: 110px;
      }
    }

    .remediation-graphic {
      order: 1;
      @media screen and (min-width: $bp-lg) {
        order: 0;
      }
    }

    .remediation-graphic-bottom {
      display: none;
      text-align: center;

      @media screen and (min-width: $bp-md) {
        display: block;
      }

      img {
        width: 608px;
      }
    }
  }

  // Capabilities
  .capabilities {
    background: $dark-blue-home-900;
  }

  // Get started
  .get-started {
    background: $teaserCard-home;
  }

  // Onboard Services & Keptn Workflows
  .onboard-services {
    .image {
      @media screen and (min-width: $bp-md) {
        margin-top: -8px;
        margin-left: -8px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .happy-users {
    &:after {
      position: absolute;
      top: 6400px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 804px;
      content: "";
      background-image: url('/images/home/happy-users/waves02.jpg');
      background-repeat-x: repeat;

      @media screen and (min-width: $bp-sm) {
        top: 5670px;
      }

      @media screen and (min-width: $bp-md) {
        top: 5850px;
      }

      @media screen and (min-width: $bp-lg) {
        top: 5650px;
      }
    }

    background-color: $primary-home-100;

    img {
      max-height: 50px;
      width: auto;
      max-width: 170px;
      margin-right: 65px;
      margin-bottom: 25px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
