<div class="teaser teaser-box--white section-primary push-down">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column box-announcements">
        <ul>
          <li>Check out the <a href="https://github.com/keptn/lifecycle-controller">Lifecycle Controller</a>! Cloud native pre-, post-deployment and application health checks.
          <li>Keptn 0.19.3 is available! Find <a href="./docs/news/release_announcements/keptn-0193/">details here</a>.
        </ul>
      </div>
    </div>
  </div>
</div>
