{{ $versionUsed := print "docs/" $.Site.Params.versionDirectory -}}
{{ if and (in .RelPermalink "docs") (not (in .RelPermalink $versionUsed)) -}}
  {{ $canoncical := replaceRE "docs/0.[[:digit:]]{1,2}.([[:digit:]]{1.2}|x)" $versionUsed .RelPermalink -}}
  {{ $canoncicalPath := substr $canoncical 0 -1 -}}
  {{ if .GetPage $canoncicalPath -}}
    <link rel="canonical" href="{{ $canoncical | absURL}}"/>
  {{ else }}
    {{ range .Site.Pages -}}
      {{ if in .Aliases $canoncical -}}
        <link rel="canonical" href="{{ .RelPermalink | absURL}}"/>
      {{- end }}
    {{- end}}
  {{- end}}
{{ else if in .RelPermalink $versionUsed -}}
  <link rel="canonical" href="{{ .RelPermalink | absURL}}"/>
{{- end}}
