{{ $versionUsed := print "docs/" $.Site.Params.versionDirectory -}}
{{ if (findRE "docs/[[:digit:]]" .Permalink) -}}
  {{ $canoncical := replaceRE "docs/[[:digit:]]{1,2}.[[:digit:]]{1,2}.([[:digit:]]{1.2}|x)" $versionUsed .RelPermalink -}}
  {{ $canoncicalPath := substr $canoncical 0 -1 -}}
  {{ if .GetPage $canoncicalPath -}}
    <link rel="canonical" href="{{ $canoncical | absURL}}"/>
  {{ else }}
    {{ range .Site.Pages -}}
      {{ if in .Aliases $canoncical -}}
        <link rel="canonical" href="{{ .Permalink | absURL}}"/>
      {{- end }}
    {{- end}}
  {{- end}}
{{ else if (findRE "docs/[[:alpha:]]" .Permalink) }}
  {{ $canoncical := replaceRE "docs/" ( print $versionUsed "/") .RelPermalink -}}
  {{ $canoncicalPath := substr $canoncical 0 -1 -}}
  {{ if .GetPage $canoncicalPath -}}
    <link rel="canonical" href="{{ $canoncical | absURL}}"/>
  {{ else }}
    {{ range .Site.Pages -}}
      {{ if in .Aliases $canoncical -}}
        <link rel="canonical" href="{{ .Permalink | absURL}}"/>
      {{- end }}
    {{- end}}
  {{- end}}
{{ else if in .Permalink $versionUsed -}}
  <link rel="canonical" href="{{ .Permalink | absURL}}"/>
{{- end}}
