<div class="contact section-primary">
  <a class="back-to-top-wrapper" onclick="window.scrollTo({ top: 0 });" href="javascript: void(0)">
    <img class="icon" src="/images/general/icon-back-to-top.svg" alt="Back to top">
    <img class="icon icon--hover" src="/images/general/icon-back-to-top-hover.svg" alt="Back to top">
  </a>

  <div class="container pt-5 pb-5">
    <div class="row pt-2 pb-2 pb-md-3">
      <div class="col-12">
        {{ with .Site.GetPage "section" "home/contact-top" }}
        {{ .Content }}
        {{ end }}
      </div>

      <div class="col-12 d-md-flex flex-md-row">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-md-between pl-0 pr-0 pb-4 pb-md-0">
          {{ with .Site.GetPage "section" "home/contact-left" }}
          {{ .Content }}
          {{ end }}

          <div class="d-flex pt-2">
            <a href="#" class="button button-primary">Start now</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#" class="button button-secondary">See it in action</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#" class="button button-secondary">Read docs</a>
          </div>
        </div>

        <div class="col-12 col-md-6 d-flex flex-column justify-content-md-between pl-0 pr-0 pb-4 pb-md-0">
          <img src="/images/home/cloud-native-computing-foundation.svg">
        </div>
      </div>
    </div>
  </div>
</div>
