<div class="delivery">
    <div class="container pt-4 pt-md-5">
        <div class="row">
            <div class="col-12 teaser-box">
                {{ with .Site.GetPage "section" "home/delivery" }}
                {{ .Content }}
                {{ end }}

                <div class="d-block d-md-flex">
                    <a class="button d-inline-block button--filledGreen" href="https://keptn.sh/docs/quickstart/">
                        Start now!
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container pl-0 pr-0 pt-5 pb-5">
        <div class="row pb-4">
            <div class="col-12 teaser-box">
                <picture>
                    <source media="(min-width: 768px)" srcset="/images/home/use-cases/graphic-use-case-02.svg">
                    <source media="(min-width: 576px)" srcset="/images/home/use-cases/graphic-use-case-02-S.svg">
                    <img src="/images/home/use-cases/graphic-use-case-02-XS.svg">
                </picture>
            </div>
        </div>
    </div>
</div>