<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h3 class="footer-title"><img alt="Keptn" src="{{ .Site.BaseURL }}images/logo_white.svg" />built with ❤️ by Dynatrace</h3>
          <ul class="footer-menu">
            <li><a href="{{ .Site.BaseURL }}">Wiki</a></li>
            <li><a href="{{ .Site.BaseURL }}contact">Social Media Icons</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
