<div class="happy-users position-relative">
    <div class="container pt-4 pt-md-5 pb-md-3">
        <div class="row pt-md-3">
            <div class="text col-12 pb-md-0 pb-4 teaser-box">
                {{ with .Site.GetPage "section" "home/happy-users" }}
                {{ .Content }}
                {{ end }}
            </div>
            <div class="text col-12 pt-md-3 happy-users-logos pb-lg-4">
                {{ with .Site.GetPage "section" "home/happy-users-logos" }}
                {{ .Content }}
                {{ end }}
                <a href="https://github.com/keptn/keptn/blob/master/ADOPTERS.md">
                    <img src="/images/home/add-organisation.svg">
                </a>
            </div>
        </div>
    </div>
    <div class="container clients pl-0 pr-0 pl-lg-3 pr-lg-3 pb-lg-4">
        <div class="row pt-lg-5 pb-lg-5 pb-4">
            <div class="col-12">
                <div class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="splide__image" style="background-image: url('/images/home/img-client-01.png');"></div>
                                <div class="splide__content">
                                    <p>„Keptn allowed us to accelerate our
                                        adoption of Kubernetes by at least a
                                        year. It’s a unique value proposition
                                        that has enabled us to create an
                                        intelligent and fully automated
                                        continuous delivery pipeline.“
                                    </p>
                                    <p class="splide__name">
                                        Sebastian Bonk
                                    </p>
                                    <p class="splide__info">
                                        Manager of Software Development Avodaq
                                    </p>
                                </div>
                            </li>
                            <li class="splide__slide d-flex">
                                <div class="splide__image" style="background-image: url('/images/home/img-client-02.png');"></div>
                                <div class="splide__content">
                                    <p>„Keptn allowed us to accelerate our
                                        adoption of Kubernetes by at least a
                                        year. It’s a unique value proposition
                                        that has enabled us to create an
                                        intelligent and fully automated
                                        continuous delivery pipeline.“
                                        telligent and fully automated
                                        continuous delivery pipeline.“
                                    </p>
                                    <p class="splide__name">
                                        Sebastian Bonk
                                    </p>
                                    <p class="splide__info">
                                        Manager of Software
                                    </p>
                                </div>
                            </li>
                            <li class="splide__slide d-flex">
                                <div class="splide__image" style="background-image: url('/images/home/img-client-02.png');"></div>
                                <div class="splide__content">
                                    <p>„Keptn allowed us to accelerate our
                                        adoption of Kubernetes by at least a
                                        year. It’s a unique value proposition
                                        that has enabled us to create an
                                        in
                                    </p>
                                    <p class="splide__name">
                                        Sebastian Bonk
                                    </p>
                                    <p class="splide__info">
                                        Manager of Software adflkgj
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
