<div class="header fixed-top">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img alt="Keptn Homepage" src="{{ .Site.BaseURL }}/images/logo.svg">
      </a>
    </div>

    <div class="logo-mobile">
      <a href="/">
        <img alt="Keptn Homepage" src="{{ .Site.BaseURL }}/images/logo-mobile.svg">
      </a>
    </div>

    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>

<!-- check if the current page or any of the parent pages has "unsupported" set -->
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}

{{ $unsupported := "" }}
{{ $page := .Page }}
{{ range $index, $element := split $url "/" }}
  {{ if $page }}
    {{ if $page.Params.unsupported }}
      <!-- unsupported found -->
      {{ $unsupported = $page.Params.unsupported }}
    {{ end }}
    {{ $page = $page.Parent }}
  {{ end }}
{{ end }}

{{ if $unsupported }}
  <div class="unsupported">{{ $unsupported }}</div>
{{ end }}