<div class="intro p-relative">
  {{ partial "announcement.html" . }}
  <div class="container pt-5">
    <div class="row pt-4 pt-md-5">
      <div class="col-12 teaser-box">
        <div class="logo-intro d-none d-md-block">
          <a href="/">
            <img alt="Keptn Homepage" src="{{ .Site.BaseURL }}/images/home/hero/keptn-logo-white.svg">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-3 teaser-box teaser-box--white teaser-box--intro mr-lg-5 mr-xl-0">
        {{ with .Site.GetPage "section" "home/headline" }}
        {{ .Content }}
        {{ end }}
      </div>
      <div class="col-12 col-md-7 col-lg-6 teaser-box teaser-box--white teaser-box--intro ml-lg-5 ml-lg-0">
        {{ with .Site.GetPage "section" "home/intro" }}
        {{ .Content }}
        {{ end }}
        <div class="d-block d-lg-flex">
          <div class="d-block">
            <a class="d-inline-block button button--filledGreen mb-3 mb-lg-0 mr-0 mr-lg-3"
               href="https://keptn.sh/docs/quickstart/">
              Start now!
            </a>
          </div>
          <div class="d-block">
            <a class="d-inline-block button button--filledWhite" href="https://github.com/keptn/keptn">
              Keptn on Github
              <img class="icon" src="/images/general/icon-github-home.svg" alt="Github">
              <img class="icon icon--hover" src="/images/general/icon-github-hover.svg" alt="Github">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pl-0 pr-0 pt-5 pt-xl-0 pb-lg-5">
    <div class="row pb-sm-4">
      <div class="col-12 teaser-box teaser-box--negativeMargin">
        <div class="d-none d-sm-block">
          {{ partial "intro-svg.html" . }}
        </div>
        <div class="d-sm-none text-center">
          {{ partial "intro-svg-mobile.html" . }}
        </div>
      </div>
    </div>
  </div>


</div>
</div>