{{ if .Site.Menus.main }}
<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>

    <li class="menu-item-klt">
      <a href="https://keptn.sh/">
        <span>The New Keptn</span>
      </a>
    </li>

    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }} {{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}">
      <a href="{{ .URL }}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{ end }}

    <li class="menu-item-integrations">
      <a href="/docs/integrations/">
        <span>Integrations</span>
      </a>
    </li>

    <li class="menu-item-quickstart">
      <a class="button button-secondary" href="/docs/quickstart/">Quick Start</a>
    </li>
  </ul>
</div>
{{ end }}
