{{ if .Site.Menus.main }}
<div id="main-menu" class="main-menu">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }} {{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}">
      <a href="{{ .URL }}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{ end }}

    <li class="menu-item-integrations">
      <a href="/docs/integrations/">
        <span>Integrations</span>
      </a>
    </li>

    <!--li class="menu-item-community">
      <a href="https://github.com/keptn/community" target="_blank">
        <span>Community</span>
      </a>
    </li-->
    
  </ul>
  <a class="button button--header" href="/docs/quickstart/">Quick Start</a>
</div>
{{ end }}
