{{ if .Site.Menus.main }}
<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }} {{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}">
      <a href="{{ .URL }}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{ end }}

    <li class="menu-item-tutorials">
      <a href="/docs/0.6.0/usecases/">
        <span>Tutorials</span>
      </a>
    </li>

    <li class="menu-item-community">
      <a href="https://github.com/keptn/community" target="_blank">
        <span>Community</span>
      </a>
    </li>

    <li class="menu-item-quickstart">
      <a class="button button-secondary" href="/docs/quickstart/">Quick Start</a>
    </li>
  </ul>
</div>
{{ end }}
