<div class="pt-md-2 pb-md-5 teaser-card-container">
  <div class="teaser-card mr-sm-4 mb-3 mb-sm-4">
    <h5 class="teaser-card-title">
      Delivery
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mr-4 mb-4">
          <img src="/images/home/integrations/tools-delivery-argo.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4 mb-4">
          <img src="/images/home/integrations/tools-delivery-azure.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img src="/images/home/integrations/tools-delivery-gitlab.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/integrations/tools-delivery-helm.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/integrations/tools-delivery-jenkins.png">
        </div>
        <a class="teaser-card teaser-card--smallPadding teaser-card--outline" href="https://github.com/keptn-sandbox/contributing">
        </a>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-lg-4 mb-3 mb-sm-4">
    <h5 class="teaser-card-title">
      Observability
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mr-4 mb-4">
          <img src="/images/home/integrations/tools-observability-dynatrace.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4 mb-4">
          <img src="/images/home/integrations/tools-observability-grafana.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img src="/images/home/integrations/tools-observability-opentelementry.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/integrations/tools-observability-prometheus.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="">
        </div>
        <a class="teaser-card teaser-card--smallPadding teaser-card--outline" href="https://github.com/keptn-sandbox/contributing">
        </a>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-sm-4 mr-lg-0 mb-3 mb-sm-4 mb-md-4">
    <h5 class="teaser-card-title">
      Testing
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mr-4 mb-4">
          <img src="/images/home/integrations/tools-testing-jmeter.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4 mb-4">
          <img src="/images/home/integrations/tools-testing-litmus.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img src="/images/home/integrations/tools-testing-locust.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/integrations/tools-testing-neoload.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/integrations/tools-testing-selenium.png">
        </div>
        <a class="teaser-card teaser-card--smallPadding teaser-card--outline" href="https://github.com/keptn-sandbox/contributing">
        </a>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-lg-4 mb-3 mb-sm-4 mb-lg-0">
    <h5 class="teaser-card-title">
      Notifications
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mr-4 mb-4">
          <img src="/images/home/integrations/tools-notifications-keptn.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4 mb-4">
          <img src="/images/home/integrations/tools-notifications-slack.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img src="/images/home/integrations/tools-notifications-teams.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/integrations/tools-notifications-webex.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/integrations/tools-notifications-webhook.png">
        </div>
        <a class="teaser-card teaser-card--smallPadding teaser-card--outline" href="https://github.com/keptn-sandbox/contributing">
        </a>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-sm-4 mb-3 mb-sm-0">
    <h5 class="teaser-card-title">
      Automation
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mr-4 mb-4">
          <img src="/images/home/integrations/tools-automation-ansible.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4 mb-4">
          <img src="/images/home/integrations/tools-automation-bash.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img src="/images/home/integrations/tools-automation-python.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/integrations/tools-automation-servicenow.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/integrations/tools-automation-webhook.png">
        </div>
        <a class="teaser-card teaser-card--smallPadding teaser-card--outline" href="https://github.com/keptn-sandbox/contributing">
        </a>
      </div>
    </div>
  </div>
  <div class="teaser-card teaser-card--darkBlue teaser-card--verticalCentered">
    <div class="teaser-card-content teaser-card-content--white teaser-card-content--courier">
      {{ with .Site.GetPage "section" "home/tools-06" }}
      {{ .Content }}
      {{ end }}
      <div class="col-12 col-md-10 pr-0 pl-0 pt-4">
        <a class="button button--filledGreen d-inline-block" href="https://github.com/keptn-contrib/">
          Explore more
        </a>
      </div>
    </div>
  </div>
</div>