<div class="pt-md-2 pb-md-2 teaser-card-container">
  <div class="teaser-card mr-sm-4">
    <h5 class="teaser-card-title">
      Delivery
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--outline teaser-card--smallPadding">
          <img src="/images/home/logo-avodaq.png">
        </div>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-lg-4">
    <h5 class="teaser-card-title">
      Delivery
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--outline teaser-card--smallPadding">
          <img src="/images/home/logo-avodaq.png">
        </div>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-sm-4 mr-lg-0">
    <h5 class="teaser-card-title">
      Delivery
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--outline teaser-card--smallPadding">
          <img src="/images/home/logo-avodaq.png">
        </div>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-lg-4">
    <h5 class="teaser-card-title">
      Delivery
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--outline teaser-card--smallPadding">
          <img src="/images/home/logo-avodaq.png">
        </div>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-sm-4">
    <h5 class="teaser-card-title">
      Delivery
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mr-4">
          <img src="/images/home/logo-avodaq.png">
        </div>
        <div class="teaser-card teaser-card--outline teaser-card--smallPadding">
          <img src="/images/home/logo-avodaq.png">
        </div>
      </div>
    </div>
  </div>
  <div class="teaser-card teaser-card--darkBlue">
    <div class="teaser-card-content teaser-card-content--white teaser-card-content--courier">
      {{ with .Site.GetPage "section" "home/capabilities-06" }}
      {{ .Content }}
      {{ end }}
      <div class="col-12 col-md-8 pr-0 pl-0 pt-4">
        <a class="button button--filledGreen" href="https://github.com/keptn/keptn">
          Explore more
        </a>
      </div>
    </div>
  </div>
</div>