<div class="pt-md-2 pb-4 teaser-card-container">
  <div class="teaser-card mr-sm-4 mb-3 mb-sm-4">
    <h5 class="teaser-card-title">
      Delivery
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="Argo" title="Argo" src="/images/home/integrations/tools-delivery-argo.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="Azure DevOps" title="Azure DevOps" src="/images/home/integrations/tools-delivery-azure.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="GitLab" title="GitLab" src="/images/home/integrations/tools-delivery-gitlab.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img alt="Helm" title="Helm" src="/images/home/integrations/tools-delivery-helm.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img alt="Jenkins" title="Jenkins" src="/images/home/integrations/tools-delivery-jenkins.png">
        </div>
        <a alt="Suggest or contribute an integration" title="Suggest or contribute an integration" class="teaser-card teaser-card--smallPadding teaser-card--outline" href="https://github.com/keptn/integrations/issues/new?assignees=&labels=integrations&template=integration_template.yaml&title=%5Bintegration%5D+">
        </a>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-lg-4 mb-3 mb-sm-4">
    <h5 class="teaser-card-title">
      Observability
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="Dynatrace" title="Dynatrace" src="/images/home/integrations/tools-observability-dynatrace.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="Grafana" title="Grafana" src="/images/home/integrations/tools-observability-grafana.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="OpenTelemetry" title="OpenTelemetry" src="/images/home/integrations/tools-observability-opentelementry.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img alt="Prometheus" title="Prometheus" src="/images/home/integrations/tools-observability-prometheus.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img alt="Your Tool" title="Your Tool" src="" data-proofer-ignore />
        </div>
        <a alt="Suggest or contribute an integration" title="Suggest or contribute an integration" class="teaser-card teaser-card--smallPadding teaser-card--outline" href="https://github.com/keptn/integrations/issues/new?assignees=&labels=integrations&template=integration_template.yaml&title=%5Bintegration%5D+">
        </a>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-sm-4 mr-lg-0 mb-3 mb-sm-4 mb-md-4">
    <h5 class="teaser-card-title">
      Testing
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="JMeter" title="JMeter" src="/images/home/integrations/tools-testing-jmeter.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="LitmusChaos" title="LitmusChaos" src="/images/home/integrations/tools-testing-litmus.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="Locust" title="Locust" src="/images/home/integrations/tools-testing-locust.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding ">
          <img alt="NeoLoad" title="NeoLoad" src="/images/home/integrations/tools-testing-neoload.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding ">
          <img alt="Selenium" title="Selenium" src="/images/home/integrations/tools-testing-selenium.png">
        </div>
        <a alt="Suggest or contribute an integration" title="Suggest or contribute an integration" class="teaser-card teaser-card--smallPadding teaser-card--outline" href="https://github.com/keptn/integrations/issues/new?assignees=&labels=integrations&template=integration_template.yaml&title=%5Bintegration%5D+">
        </a>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-lg-4 mb-3 mb-sm-4 mb-lg-0">
    <h5 class="teaser-card-title">
      Notifications
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="Any tool via webhook" title="Any tool via webhook" src="/images/home/integrations/tools-notifications-webhook.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="Slack" title="Slack" src="/images/home/integrations/tools-notifications-slack.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="MS Teams" title="MS Teams" src="/images/home/integrations/tools-notifications-teams.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding ">
          <img alt="Cisco Webex" title="Cisco Webex" src="/images/home/integrations/tools-notifications-webex.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding ">
          <img alt="Your Tool" title="Your Tool" src="" data-proofer-ignore />
        </div>
        <a alt="Suggest or contribute an integration" title="Suggest or contribute an integration" class="teaser-card teaser-card--smallPadding teaser-card--outline" href="https://github.com/keptn/integrations/issues/new?assignees=&labels=integrations&template=integration_template.yaml&title=%5Bintegration%5D+">
        </a>
      </div>
    </div>
  </div>
  <div class="teaser-card mr-sm-4 mb-3 mb-sm-0">
    <h5 class="teaser-card-title">
      Automation
    </h5>
    <div class="teaser-card-content">
      <div class="teaser-card-container">
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="Ansible" title="Ansible" src="/images/home/integrations/tools-automation-ansible.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="Bash" title="Bash" src="/images/home/integrations/tools-automation-bash.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding mb-4">
          <img alt="Python" title="Python" src="/images/home/integrations/tools-automation-python.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img alt="ServiceNow" title="ServiceNow" src="/images/home/integrations/tools-automation-servicenow.png">
        </div>
        <div class="teaser-card teaser-card--smallPadding">
          <img alt="Any container or external tool" title="Any container or external tool" src="/images/home/integrations/tools-automation-webhook.png">
        </div>
        <a alt="Suggest or contribute an integration" title="Suggest or contribute an integration" class="teaser-card teaser-card--smallPadding teaser-card--outline" href="https://github.com/keptn/integrations/issues/new?assignees=&labels=integrations&template=integration_template.yaml&title=%5Bintegration%5D+">
        </a>
      </div>
    </div>
  </div>
  <div class="teaser-card teaser-card--darkBlue teaser-card--verticalCentered">
    <div class="teaser-card-content teaser-card-content--white teaser-card-content--courier">
      {{ with .Site.GetPage "section" "home/tools-06" }}
      {{ .Content }}
      {{ end }}
      <div class="col-12 col-md-10 pr-0 pl-0 pt-4">
        <a class="button button--filledGreen d-inline-block" href="https://keptn.sh/docs/integrations/">
          Explore more
        </a>
      </div>
    </div>
  </div>
</div>