<div class="usage">
  <div class="container pt-4 pt-md-0">
    <div class="row">
      <div class="col-12 teaser-box">
        {{ with .Site.GetPage "section" "home/usage" }}
        {{ .Content }}
        {{ end }}

        <div class="d-block d-md-flex">
          <div class="d-block">
            <a class="button button--filledGreen d-inline-block mb-3 mb-lg-0 mr-0 mr-md-3" href="https://keptn.sh/docs/quickstart/">
              Start now!
            </a>
          </div>
          <!-- Remove comment if button is needed
          <div class="d-block">
            <a class="button button--outlinedBlue d-inline-block mb-3 mb-lg-0 mr-0 mr-md-3" href="#">
              See it in action
            </a>
          </div>
          /-->
          <div class="d-block">
            <a class="button button--outlinedBlue d-inline-block" href="https://keptn.sh/docs/">
              Read docs
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pl-0 pr-0 pt-5 pb-5">
    <div class="row pb-4">
      <div class="col-12 teaser-box">
        <picture>
          <source media="(min-width: 768px)" srcset="/images/home/use-cases/graphic-use-case-01.svg">
          <source media="(min-width: 576px)" srcset="/images/home/use-cases/graphic-use-case-01-S.svg">
          <img src="/images/home/use-cases/graphic-use-case-01-XS.svg">
        </picture>
      </div>
    </div>
  </div>
</div>