{{ define "title" }}
keptn | A message-driven control plane for application delivery and automated operations
{{ end }}

{{ define "header_css" }}
{{ end }}

{{ define "header_classes" }}
header-transparent
{{ end }}

{{ define "header_js" }}
<script src="https://cdn.jsdelivr.net/npm/typeit@6.0.3/dist/typeit.min.js" />
{{ end }}

{{ define "body_classes" }}
page-not-found
{{ end }}

{{ define "meta" }}
<meta property="og:description" content="Building the fabric for cloud-native lifecycle automation at enterprise scale">
<meta property="og:title" content="Keptn - A message-driven control plane for application delivery and automated operations">
<meta property="og:image" content="https://keptn.sh/favicon.png">
<meta property="og:url" content="https://keptn.sh/index.html">
<meta name="twitter:card" content="summary_large_image">
{{ end }}

{{ define "main" }}
<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <h2>404</h2>
      <p>The requested page could not be found!</p>

      <p><a href="/" class="no-underline">Home</a></p>
      <p><a class="no-underline" href="mailto:keptn@dynatrace.com">Contact us</a></p>
    </div>
  </div>
</div>

{{ end }}
