{{ define "title" }}
keptn | An event-based control plane for continuous delivery and automated operations for cloud-native applications
{{ end }}

{{ define "header_css" }}
{{ end }}

{{ define "header_classes" }}
header-transparent
{{ end }}

{{ define "header_js" }}
<script src="https://cdn.jsdelivr.net/npm/typeit@6.0.3/dist/typeit.min.js" />
{{ end }}

{{ define "body_classes" }}
page-home
{{ end }}

{{ define "meta" }}
<meta property="og:description" content="Building the fabric for cloud-native lifecycle automation at enterprise scale">
<meta property="og:title" content="Keptn - an event-based control plane for continuous delivery and automated operations for cloud-native applications.">
<meta property="og:image" content="https://keptn.sh/favicon.png">
<meta property="og:url" content="https://keptn.sh/index.html">
<meta name="twitter:card" content="summary_large_image">
{{ end }}

{{ define "main" }}



{{/* Intro */}}
{{ partial "intro.html" . }}

{{/* Usage */}}
<div class="usage">
  <div class="container pb-5 pt-3 pt-md-0">
    <div class="row">
      <div class="col-12 col-md-8 teaser-box">
        {{ with .Site.GetPage "section" "home/usage" }}
          {{ .Content }}
        {{ end }}

        <div class="d-block d-md-flex">
          <div class="d-block">
            <a class="button button--filledGreen d-inline-block mb-3 mb-md-0 mr-0 mr-md-3" href="https://github.com/keptn/keptn">
              Start now
            </a>
          </div>
          <div class="d-block">
            <a class="button button--outlinedBlue d-inline-block mb-3 mb-md-0 mr-0 mr-md-3" href="https://github.com/keptn/keptn">
              See it in action
            </a>
          </div>
          <div class="d-block">
            <a class="button button--outlinedBlue d-inline-block" href="https://github.com/keptn/keptn">
              Read docs
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 pt-4 teaser-box">
        <picture>
          <source media="(min-width: 768px)" srcset="/images/home/use-cases/graphic-use-case-01.svg">
          <img src="/images/home/hero/keptn-logo-white.svg">
        </picture>
      </div>
    </div>
  </div>
</div>

{{/* Delivery */}}
<div class="delivery">
  <div class="container pb-5 pt-3 pt-md-5">
    <div class="row">
      <div class="col-12 col-md-8 teaser-box">
        {{ with .Site.GetPage "section" "home/delivery" }}
        {{ .Content }}
        {{ end }}

        <div class="d-block d-md-flex">
          <a class="button d-inline-block button--filledGreen" href="https://github.com/keptn/keptn">
            Start now
          </a>
        </div>
      </div>
      <div class="col-12 pt-4 teaser-box">
        <picture>
          <source media="(min-width: 768px)" srcset="/images/home/use-cases/graphic-use-case-02.svg">
          <img src="/images/home/use-cases/graphic-use-case-02-XS.svg">
        </picture>
      </div>
    </div>
  </div>
</div>

{{/* Remediation */}}
<div class="remediation">
  <div class="container pb-5 pt-3 pt-md-5">
    <div class="row d-flex">
      <div class="col-12 col-lg-8 pr-lg-5 pt-lg-4 teaser-box remediation-graphic">
        <picture>
          <source media="(min-width: 768px)" srcset="/images/home/use-cases/graphic-use-case-03a.svg">
          <img class="" src="/images/home/use-cases/graphic-use-case-03-XS.svg">
        </picture>
      </div>
      <div class="col-12 col-lg-4 teaser-box pl-lg-5 pb-4 pb-lg-0 remediation-content">
        {{ with .Site.GetPage "section" "home/remediation" }}
        {{ .Content }}
        {{ end }}
        <div class="d-inline-block d-md-flex">
          <a class="button button--filledGreen" href="https://github.com/keptn/keptn">
            Start now
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-md-2 pt-lg-5 teaser-box remediation-graphic-bottom">
        <picture>
          <img src="/images/home/use-cases/graphic-use-case-03b.svg">
        </picture>
      </div>
    </div>
  </div>
</div>

{{/* Key Capabilities */}}
  <div class="capabilities">
    <div class="container pb-5 pt-3 pt-md-5">
      <div class="row pt-md-3 teaser-box teaser-box--white">
        <div class="col-12 pb-md-0 pb-4">
          {{ with .Site.GetPage "section" "home/capabilities" }}
          {{ .Content }}
          {{ end }}
        </div>
      </div>
    {{partial "teaser-cards.html" . }}
    </div>
  </div>

{{/* Happy Users */}}
<div class="happy-users">
  <div class="container pt-3 pt-md-5 pb-4">
    <div class="row pt-md-3">
      <div class="text col-12 pb-md-0 pb-4 teaser-box">
        {{ with .Site.GetPage "section" "home/happy-users" }}
        {{ .Content }}
        {{ end }}
      </div>
      <div class="text col-12 pt-md-3 d-flex flex-column justify-content-center">
        {{ with .Site.GetPage "section" "home/happy-users-logos" }}
        {{ .Content }}
        {{ end }}
        <a href="#" class="add-organisation-link d-inline-block">
          <img src="/images/home/icon-plus.svg">
        </a>
      </div>
    </div>
  </div>
  <div class="container pb-5 clients pl-0 pr-0 pl-sm-3 pr-sm-3">
    <div class="row pt-2 pt-md-4 pb-md-2">
      <div class="col-12">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="splide__image" style="background-image: url('/images/home/img-client-01.png');"></div>
                <div class="splide__content">
                  <p>„Keptn allowed us to accelerate our
                    adoption of Kubernetes by at least a
                    year. It’s a unique value proposition
                    that has enabled us to create an
                    intelligent and fully automated
                    continuous delivery pipeline.“
                  </p>
                  <p class="splide__name">
                    Sebastian Bonk
                  </p>
                  <p class="splide__info">
                    Manager of Software adflkgj
                  </p>
                </div>
              </li>
              <li class="splide__slide d-flex">
                <div class="splide__image" style="background-image: url('/images/home/img-client-02.png');"></div>
                <div class="splide__content">
                  <p>„Keptn allowed us to accelerate our
                    adoption of Kubernetes by at least a
                    year. It’s a unique value proposition
                    that has enabled us to create an
                    intelligent and fully automated
                    continuous delivery pipeline.“
                    telligent and fully automated
                    continuous delivery pipeline.“
                  </p>
                  <p class="splide__name">
                    Sebastian Bonk
                  </p>
                  <p class="splide__info">
                    Manager of Software
                  </p>
                </div>
              </li>
              <li class="splide__slide d-flex">
                <div class="splide__image" style="background-image: url('/images/home/img-client-02.png');"></div>
                <div class="splide__content">
                  <p>„Keptn allowed us to accelerate our
                    adoption of Kubernetes by at least a
                    year. It’s a unique value proposition
                    that has enabled us to create an
                    in
                  </p>
                  <p class="splide__name">
                    Sebastian Bonk
                  </p>
                  <p class="splide__info">
                    Manager of Software adflkgj
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>


{{/* Tools */}}
<div class="tools">
  <div class="container pt-3 pt-md-5 pb-5">
    <div class="row">
      <div class="col-12 pb-1 pb-md-0">
        <div class="text col-12 teaser-box">
          {{ with .Site.GetPage "section" "home/tools" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ partial "tools.html" . }}
  </div>
</div>

{{/* Contact */}}
{{ partial "get-started.html" . }}

{{/* Copy Indicator */}}
{{ partial "copy-indicator.html" . }}
{{ end }}

{{ define "footer_js" }}
{{ end }}
