{{ define "title" }}
keptn | An event-based control plane for continuous delivery and automated operations for cloud-native applications
{{ end }}

{{ define "header_css" }}
{{ end }}

{{ define "header_classes" }}
header-transparent
{{ end }}

{{ define "header_js" }}
<script src="https://cdn.jsdelivr.net/npm/typeit@6.0.3/dist/typeit.min.js" />
{{ end }}

{{ define "body_classes" }}
page-home
{{ end }}

{{ define "meta" }}
<meta property="og:description" content="Building the fabric for cloud-native lifecycle automation at enterprise scale">
<meta property="og:title" content="Keptn - an event-based control plane for continuous delivery and automated operations for cloud-native applications.">
<meta property="og:image" content="https://keptn.sh/favicon.png">
<meta property="og:url" content="https://keptn.sh/index.html">
<meta name="twitter:card" content="summary_large_image">
{{ end }}

{{ define "main" }}

{{/* Intro */}}
{{ partial "intro.html" . }}

{{/* Usage */}}
{{ partial "usage.html" . }}

{{/* Delivery */}}
{{ partial "delivery.html" . }}

{{/* Remediation */}}
{{ partial "remediation.html" . }}

{{/* Key Capabilities */}}
{{ partial "capabilities.html" . }}

{{/* Happy Users */}}
{{ partial "happy-users.html" . }}

{{/* Tools */}}
{{ partial "tools.html" . }}

{{/* Contact */}}
{{ partial "get-started.html" . }}

{{/* Copy Indicator */}}
{{ partial "copy-indicator.html" . }}
{{ end }}

{{ define "footer_js" }}
{{ end }}